.card {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
    font-size: 30px;
    text-align: center;
    background-color: antiquewhite;
    cursor: pointer;
    font-family: "Twemoji Mozilla",
               "Apple Color Emoji",
               "Segoe UI Emoji",
               "Segoe UI Symbol",
               "Noto Color Emoji",
               "EmojiOne Color",
               "EmojiSymbols",
               "EmojiOne Mozilla",
               "Noto Color Emoji Compat",
               "emoji",
                "noto-emojipedia-fallback",
               "Android Emoji";
}

.card:hover {
    opacity: 0.7;
}

.copyMessage {
    font-size: 14px;
    display: block;
}

@media screen and (max-width: 400px) {
    .card {
        width: 50px;
        height: 50px;
        margin: 0.2em;
        font-size: 25px;

    }
}