.emoji-container {
    margin: 1em 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message {
    font-size: 20px;
}

@media screen and (max-width: 400px) {
    .emoji-container {
        margin: 1em 0.5em;
    }
}