.searchBar {
    font-size: 16px;
    padding: 1ch;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 2em;
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    .searchBar {
        width: 70%;


    }
}